# Diretórios do Visual Studio
.vs/
.vscode/
.idea/

# Pastas de build
bin/
obj/
publish/

# Arquivos temporários do sistema
desktop.ini
Thumbs.db

# Arquivos do Docker
.dockerignore

# Arquivos de configuração do Visual Studio
.suo
.user
*.dbmdl

# Arquivos de log
*.log

# Arquivos de depuração
*.pdb

# Arquivos de backup
*.bak
*.swp

# Arquivos temporários do NuGet
.nuget/

# Arquivos de configuração de perfil de usuário
# (Incluindo os arquivos do ASP.NET)
appsettings.Development.json
#appsettings.json
appsettings.Production.json
